extends base
block head
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css')
block content
    .row.articles
        h1.text-center Articles
        .button.text-center
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js')
    script.
        $(function () {
            var offset=0;
            var limit=10;
            var moreButton = $('<button>').attr('id', 'moreButton').attr('type', 'button').addClass('btn btn-primary').text('Load more');

            function fetchArticles() {
                var url='/api/articles?offset=' + offset + '&limit=' + limit;
                $.getJSON(url, function(data) {
                    data.forEach(function(article) {
                        var a = $('<a>').addClass('articles__item').attr('href', '/articles/' + article.id);
                        var h3 = $('<h3>').addClass('title').text(article.title);
                        var details = $('<div>').addClass('details');
                        var author = $('<div>').addClass('author').text(article.first_name + ' ' + article.last_name);
                        var timestamp = $('<div>').addClass('time').text(article.timestamp);
                        var tags = $('<div>').addClass('tags');
                        var content = $('<div>').addClass('article__content').html(article.content);
                        article.tags.forEach(function(tag) {
                            tags.append($('<div>').addClass('tag').text(tag));
                        });
                        details.append('By ', author, ' on ', timestamp, tags);
                        a.append(h3, details, content);
                        $('.button').before(a, $('<div>').addClass('border'));
                    });

                    offset += data.length;

                    if (data.length != limit && $('#moreButton').length) {
                        $('#moreButton').remove();
                    } else if (data.length == limit && !$('#moreButton').length) {
                        $('.button').append(moreButton);
                        moreButton.on('click', function() {
                            fetchArticles();
                        });
                    }
                });
            }

            fetchArticles();

        });
