extends base
block content
	h1.text-center Contact me
	.row
		
	.LI-profile-badge(data-version='v1', data-size='medium', data-locale='en_US', data-type='horizontal', data-theme='dark', data-vanity='severi-salminen-44601b137')
		a.LI-simple-link(href='https://fi.linkedin.com/in/severi-salminen-44601b137?trk=profile-badge') Severi Salminen

	script(type='text/javascript', src='https://platform.linkedin.com/badges/js/profile.js', async='', defer='')