extends base
block content
    h1.text-center Login
    form(action='/login/', method='post')
        .form__field
            .form__label
                label(for='username-input') Username
            .form__input
                input#username-input(type='text' name='username', placeholder='Username')
        .form__field
            .form__label
                label(for='password-input') Password
            .form__input
                input#password-input(type='password' name='password', placeholder='Password')
        .form__submit
            button.button_basic(type='submit') Log in
