extends base.pug
block content
    .main
        h1.logo.text-center Bugfree
        .quote
            span.quote1 "Less bugs
            span.quote2  - more fun!"
        p
            | Welcome! Bugfree is a site for testing and demonstrating some of the applications I have developed. It's a portfolio, a testing platform and a business card. I also have a dedicated page giving some basic information about me, my background and developer skills.
        img#wordle.img-responsive(src='static/wordle4.png', alt='Keyword image')