nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapset(type='button', data-toggle='collapse', data-target='#nav-collapse', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.logo(href='/') Bugfree
        .collapse.navbar-collapse#nav-collapse
            ul.nav.navbar-nav
                li
                    a(href='/projects/') Projects
                li
                    a(href='/profile/') About me
                    