nav.my-navbar
    .my-navbar__toggle
        i.fa.fa-2x.fa-bars(aria-hidden="true")
    .my-navbar__left
        a.my-navbar__logo(href='/') Bugfree
        a.my-navbar__link.my-navbar__link--hidden(href='/articles/') Blog
        a.my-navbar__link.my-navbar__link--hidden(href='/projects/') Projects
        a.my-navbar__link.my-navbar__link--hidden(href='/profile/') About me
    if full_name
        .my-navbar__right
            a.my-navbar__link.my-navbar__link--hidden(href='/publish/') New post
            a.my-navbar__link.my-navbar__link--hidden.my-navbar__username(href='/profile/') #{full_name}
            a.my-navbar__link.my-navbar__link--hidden(href='/logout/') #[span.glyphicon.glyphicon-log-out]
