extends base
block head
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css')
block content
    h1.text-center !{content.title}
    div !{content.editor}
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js')