extends base
block content
	.projects
		h1.text-center Projects
		each project in projects
			.project
				.project__image(style='background-image: url(' + project.image_url + ')')
				div
					h3= project.title
					p!= project.content
					if project.source_url
						div
							a(href=project.source_url) Source
					if project.demo_url
						div
							a(href=project.demo_url) Demo
			.border
