extends base
block head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js')
block content
    h1.text-center New post
    form#publish-form(method='post')
        .form__field
            .form__label
                label(for='title-input') Title
            .form__input
                input#title-input(type='text' name='title')
        .form__field
            .form__label
                label(for='tags-input') Tags
            .form__input
                input#tag-input(type='text')
                .tags
        .form__field
            .form__label Content
            .editorContent.form__input
                #editor
        input#tags-input(type='hidden' name='tags')
        .form__submit
            button.button_basic(type='submit') Submit

block scripts
    script.
        tinymce.init({
            selector:       '#editor',
            body_class:     'editor',
            content_css:    '/static/style.css,https://fonts.googleapis.com/css?family=Cabin',
            plugins:        'paste',
            paste_as_text:  true,
            menubar:        false,
            width:          '100%',
            height:         '400',
            plugins:        'preview codesample',
            toolbar:        'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | codesample',
            codesample_languages: [
                    {text: 'JavaScript', value: 'javascript'},
                    {text: 'CSS', value: 'css'},
                    {text: 'Python', value: 'python'},
                    {text: 'HTML/XML', value: 'markup'},
                    {text: 'Java', value: 'java'},
                    {text: 'C', value: 'c'},
                    {text: 'C++', value: 'cpp'},
                ],
        });

        $(function() {
            const tags = [];
            $('#tag-input').on("keypress", function(e) {
                const tag = $('#tag-input').val();
                if (e.which === 13 && tag) {
                    tags.push(tag);
                    $('.tags').append($('<div class="tag">').text(tag));
                    $('#tag-input').val('');
                    return false;
                }
            });
            $('#publish-form').submit(function () {
                $('#tags-input').val(tags.join(','));
            })
        });
