.article {
  margin-top: 20px;

  &__heading {
    display: flex;
  }

  &__image {
    width: 100px;
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 3em;
  }

  &__tags {
    font-variant: small-caps;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: white;
  }

  &__tag {
    background: rgb(188, 144, 107);
    border-radius: 3px;
    padding: 1px 5px 2px 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
  }

  &__details {
    margin-top: 2px;
    color: #666;
    font-size: 12px;
  }

  &__author, &__time {
    margin-right: 3px;
    margin-left: 3px;
    font-variant: small-caps;
    display: inline-block;
    color: #000;
    font-weight: 700;
  }

  div.language-javascript::before {
      content: "Javascript";
  }
  div.language-markup::before {
      content: "HTML/XML";
  }
  div.language-css::before {
      content: "CSS";
  }
  div.language-python::before {
      content: "Python";
  }
  div.language-java::before {
      content: "Java";
  }
  div.language-cpp::before {
      content: "C++";
  }
  div.language-c::before {
      content: "C";
  }
  div.article__code-block {
    margin: 1em 0;
    @media screen and (min-width: 768px) {
      margin: 1em 2em;
    }
    position: relative;
    &::before {
      font-variant: small-caps;
      position: absolute;
      top: -27px;
      right: 0px;
      border: solid 1px #ccc;
      border-radius: 3px;
      background: #f5f2f0;
      padding: 3px;
      color: #807f7e;
      letter-spacing: 0.8px;
    }
  }
}


