.article {
  margin-top: 20px;
  position: relative;

  &__image {
    width: 120px;
    height: 100%;
    border-radius: 5px;
    margin-right: 10px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__heading {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      margin-top: 0px;
      margin-bottom: 5px;
    }

    .details {
      margin-top: 2px;
      color: #666;
      font-size: 12px;

      .author, .time {
        margin-right: 3px;
        margin-left: 3px;
        font-variant: small-caps;
        display: inline-block;
        color: #000;
        font-weight: 700;
      }
    }
  }

  div.language-javascript::before {
      content: "Javascript";
  }
  div.language-markup::before {
      content: "HTML/XML";
  }
  div.language-css::before {
      content: "CSS";
  }
  div.language-python::before {
      content: "Python";
  }
  div.language-java::before {
      content: "Java";
  }
  div.language-cpp::before {
      content: "C++";
  }
  div.language-c::before {
      content: "C";
  }
  div.article__code-block {
    @media screen and (min-width: 768px) {
      margin: 0 2em;
    }
    position: relative;
    &::before {
      font-variant: small-caps;
      position: absolute;
      top: -27px;
      right: 0px;
      border: solid 1px #ccc;
      border-radius: 3px;
      background: #f5f2f0;
      padding: 3px;
      color: #807f7e;
      letter-spacing: 0.8px;
    }
  }
}

.tags {
  font-variant: small-caps;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
  .tag {
    background: rgb(188, 144, 107);
    border-radius: 3px;
    padding: 1px 5px 2px 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
  }
}
