.projects {
  .project {
    display: flex;
    h3 {
      margin: 0 0;
    }
    &__image {
      background: url('/static/agriscore.png') no-repeat center center;
      background-size: cover;
      min-width: 30%;
      height: 150px;
      margin-right: 20px;
      border-radius: 5px;
      border: solid 1px #ccc;
    }
    img {
      border-radius: 5px;
      max-height: 200px;
      margin-right: 20px;
    }
  }
}
