body {
  background-image: url("hex5.png");
  background-attachment: fixed;
  background-size: 400px auto;
  padding-top: 50px; }

.editor {
  font-family: 'Cabin', sans-serif;
  padding-top: 0px;
  background: #fff; }

html, body {
  height: 100%; }

nav .navbar-right a.username {
  color: white; }

img.can-open {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  transform: scale(1);
  transition: transform 0.3s; }
  img.can-open:hover {
    cursor: pointer;
    transform: scale(1.05); }

.content {
  background: rgba(255, 255, 255, 0.7);
  max-width: 950px;
  min-height: 100%;
  height: auto !important; }

body {
  font-family: 'Cabin', sans-serif; }

.logo {
  font-family: 'Patua One', cursive; }

h1 {
  font-size: 3.5em; }
  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 2.5em; } }

.main h1 {
  font-size: 8em;
  margin-bottom: 0em; }
  @media only screen and (max-width: 500px) {
    .main h1 {
      font-size: 6em; } }
  @media only screen and (max-width: 400px) {
    .main h1 {
      font-size: 5.5em; } }
.main .quote {
  margin-right: 15%;
  float: right;
  font-size: 1.5em;
  font-style: italic; }
  @media only screen and (max-width: 400px) {
    .main .quote {
      font-size: 1.2em; } }
.main .quote1, .main .quote2 {
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  animation: fadein 3s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.main .quote2 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  margin: none;
  float: none; }
.main p {
  margin-top: 5em;
  font-size: 1.2em; }
.main #wordle {
  width: 75%;
  margin: 0 auto;
  margin-top: 4em; }

.projects h1 {
  margin-bottom: 40px; }
.projects .project img {
  border-radius: 10px;
  max-height: 200px; }
.projects .project h3 {
  margin-top: 0; }
.projects .border {
  margin: 2em auto 2em;
  width: 50%;
  border-bottom: 1px solid #ddd; }

.profile img {
  float: right;
  width: 180px;
  max-width: 25%;
  height: auto;
  border-radius: 10px;
  margin: 10px; }
.profile .category > ul > li > ul {
  list-style-type: none; }
.profile .degree {
  font-weight: bold; }
.profile ul {
  padding-left: 20px; }
.profile .cv-icon {
  float: left;
  transition: transform 0.3s;
  transform: scale(1); }
  .profile .cv-icon .hovering {
    transform: scale(1.2) !important; }
.profile .category {
  margin-left: 4.5em;
  margin-bottom: 3em; }

.article {
  margin-top: 20px;
  position: relative; }
  .article__image img {
    width: 120px;
    border-radius: 5px;
    margin-right: 10px; }
  .article__heading {
    display: flex; }
  .article__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .article__info .title {
      margin-top: 0px;
      margin-bottom: 0px; }
    .article__info .details {
      margin-left: 5px;
      margin-top: 5px;
      color: #666;
      font-size: 12px; }
      .article__info .details .author, .article__info .details .time {
        margin-right: 3px;
        margin-left: 3px;
        font-variant: small-caps;
        display: inline-block;
        color: #000;
        font-weight: 600; }
    .article__info .tags {
      font-variant: small-caps;
      margin-left: 5px;
      margin-top: 5px;
      font-size: 12px;
      font-weight: 700;
      color: white; }
      .article__info .tags .tag {
        background: #bc906b;
        border-radius: 3px;
        padding: 1px 5px 2px 5px;
        margin-right: 5px;
        display: inline-block; }
  .article div.language-javascript::before {
    content: "Javascript"; }
  .article div.language-markup::before {
    content: "HTML/XML"; }
  .article div.language-css::before {
    content: "CSS"; }
  .article div.language-python::before {
    content: "Python"; }
  .article div.language-java::before {
    content: "Java"; }
  .article div.language-cpp::before {
    content: "C++"; }
  .article div.language-c::before {
    content: "C"; }
  .article div.article__code-block {
    position: relative; }
    @media screen and (min-width: 768px) {
      .article div.article__code-block {
        margin: 0 2em; } }
    @media screen and (max-width: 767px) {
      .article div.article__code-block {
        margin: 0; } }
    .article div.article__code-block::before {
      font-variant: small-caps;
      position: absolute;
      top: -27px;
      right: 0px;
      border: solid 1px #ccc;
      border-radius: 3px;
      background: #f5f2f0;
      padding: 3px;
      color: #807f7e;
      letter-spacing: 0.8px; }

/*# sourceMappingURL=style.css.map */
